{
  "presets": [
    "@babel/preset-env",
    "jest"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }],
    "@babel/plugin-proposal-class-properties",
    ["babel-plugin-root-import", {
      "paths": [
        {
          "rootPathSuffix": "./",
          "rootPathPrefix": "~/"
        },
        {
          "rootPathSuffix": "./src",
          "rootPathPrefix": "@/"
        }
      ]
      
    }]
  ]
}