{
  "development": {
    "username": "",
    "password": "",
    "database": "simplemagazine_development",
    "host": "127.0.0.1",
    "dialect": "postgres"
    "dialectOptions": {
      "useUTC": "true"
    },
    "keepDefaultTimezone": false,
    "timezone": "+00:00"
  },
  "test": {
    "username": "",
    "password": "",
    "database": "simplemagazine_test",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "production": {
    "username": "",
    "password": "",
    "database": "simplemagazine_production",
    "host": "127.0.0.1",
    "dialect": "postgres"
  }
}
